/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/article-file
/public/audio
/public/cat-img
/public/course-slide
/public/cyanchat
/public/event-img
/public/files
/public/forum-files
/public/forum-images
/public/images
/public/img
/public/img
/public/post-files
/public/post-images
/public/teacher-img
/public/user-img
/public/userfiles
/public/vendor
/public/*.jpg